* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Hanken Grotesk;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.result {
  width: 375px;
  border-radius: 0px 0px 32px 32px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.your_result {
  color: var(--Light-Blue, #cac9ff);
  font-size: 18px;
  font-weight: 700;

  margin: 24px 0;
}

.oval {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  background: var(
    --Gradient-2,
    linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    )
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.some {
  color: var(--White, #fff);
  font-size: 56px;
  font-weight: 800;
  line-height: 72px;
}

.all {
  color: var(--Light-Blue, #cac9ff);
  font-size: 16px;
  font-weight: 700;
}

h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-weight: 700;
}

.performance-message {
  width: 260px;
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  margin: 8px 0 40px 0;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
}

.title {
  color: var(--Dark-Navy, #303b59);
  font-size: 18px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.containers {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.left {
  display: flex;
  gap: 12px;
}

.right {
  display: flex;
  gap: 8px;

  color: var(--Dark-Navy, #303b59);
  font-size: 16px;
  font-weight: 700;
}

.reaction {
  background: var(
    --red-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55
  );
}

.lightning {
  width: 20px;
  height: 20px;
}

.text_reaction {
  color: var(--Red, #f55);
  font-size: 16px;
  font-weight: 500;
}

.number100 {
  opacity: 0.5;
}

.memory {
  background: var(
    --yellow-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e
  );
}

.text_memory {
  color: var(--Yellow, #ffb21e);
  font-size: 16px;
  font-weight: 500;
}

.verbal {
  background: var(
    --green-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #00bb8f
  );
}

.text_verbal {
  color: var(--Green, #00bb8f);
  font-size: 16px;
  font-weight: 500;
}

.visual {
  background: var(
    --blue-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #1125d6
  );
}

.text_visual {
  color: var(--Blue, #1125d6);
  font-size: 16px;
  font-weight: 500;
}

.continue {
  width: 315px;
  height: 56px;
  border-radius: 128px;
  background: var(--Dark-Navy, #303b59);

  color: var(--White, #fff);
  font-size: 18px;
  font-weight: 700;
  border: none;
  transition: 0.4s;
}

.continue:hover {
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  cursor: pointer;
}

@media screen and (min-width: 140px) {
  body {
    background: var(--Very-Light-blue, #ecf2ff);
    align-items: center;
  }

  .main {
    flex-direction: row;
    width: 736px;
    height: 512px;
    background-color: white;
    border-radius: 32px;
  }

  .result {
    border-radius: 32px;
  }

  .your_result {
    font-size: 24px;
    margin: 38px 0 35px 0;
  }

  .oval {
    width: 200px;
    height: 200px;
    margin-bottom: 28px;
  }

  .some {
    font-size: 72px;
  }

  .all {
    font-size: 18px;
  }

  h2 {
    font-size: 32px;
  }

  .performance-message {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 55px;
  }

  .summary {
    margin-top: 44px;
  }

  .title {
    font-size: 24px;
  }

  .container {
    font-size: 18px;
  }
}
